.listView{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #ccc;
}
.loadingWrap{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  &.up{
    align-items: flex-start;
    padding-top: 60px;
  }
  &.bottom{
  align-items: flex-end;
  padding-bottom: 10px;
  }
} 
    